@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}



body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.61)), url("../img/15410.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    animation: backgroundShift 2s ease-in-out infinite;
}

@keyframes backgroundShift {
    0% {
        background-position: 0% 50%;
        opacity: 1;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #704e14e1, transparent 70%);
    mix-blend-mode: overlay;
    pointer-events: none;
    animation: flickerr 3s infinite alternate;
}

@keyframes flickerr {
    from {
        opacity: .2;
    }

    to {
        opacity: 1;
    }
}

.hanging-letter {
    display: inline-block;
    transform-origin: top center;
    animation: swing 2s infinite ease-in-out;

    position: relative;
    top: 5px;
}

@keyframes swing {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

/* ANIMACION SECCIONES */

.section-hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
}


/* NEON */

.icon-electric:hover {
    color: #2dd4bf;
    text-shadow: 0 0 5px #2dd4bf, 0 0 15px #2dd4bf;
    transform: scale(1.2) rotate(5deg);
}

.neon-glow {
    position: relative;
    color: #7f5af0;
    text-shadow:
        0 0 5px #7f5af0,
        0 0 10px #7f5af0,
        0 0 20px #7f5af0,
        0 0 40px #7f5af0;
    transition: all 0.3s ease-in-out;
}

.neon-glow:hover {
    text-shadow:
        0 0 10px #7f5af0,
        0 0 20px #7f5af0,
        0 0 30px #7f5af0,
        0 0 60px #7f5af0;
    transform: scale(1.05);
}

.neon-pill {
    @apply relative bg-indigo-800 text-white px-3 py-1 rounded-full text-sm font-semibold flex items-center gap-2;
    box-shadow: inset 0 0 8px rgba(99, 102, 241, 0.6),
        inset 0 0 12px rgba(99, 102, 241, 0.4);
    transition: all 0.3s ease-in-out;
}

.neon-pill:hover {
    box-shadow: 0 0 10px #7f5af0, 0 0 30px #7f5af0;
    transform: scale(1.1) rotate(-2deg);
}

.neon-teal {
    position: relative;
    color: #2dd4bf;
    text-shadow:
        0 0 5px #2dd4bf,
        0 0 10px #2dd4bf,
        0 0 20px #2dd4bf,
        0 0 40px #2dd4bf;
    animation: pulseGlow 2s infinite alternate;
    transition: all 0.3s ease-in-out;
}

.neon-teal:hover {
    text-shadow:
        0 0 10px #2dd4bf,
        0 0 20px #2dd4bf,
        0 0 30px #2dd4bf,
        0 0 60px #2dd4bf;
    transform: scale(1.05);
}

@keyframes pulseGlow {
    from {
        text-shadow:
            0 0 5px #2dd4bf,
            0 0 10px #2dd4bf,
            0 0 20px #2dd4bf;
    }

    to {
        text-shadow:
            0 0 10px #2dd4bf,
            0 0 20px #2dd4bf,
            0 0 40px #2dd4bf,
            0 0 60px #2dd4bf;
    }
}

.electric-button {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #2dd4bf, 0 0 30px #2dd4bf, inset 0 0 10px #2dd4bf;
    transition: all 0.3s ease-in-out;
}

.electric-button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(45, 212, 191, 0.3), rgba(45, 212, 191, 0));
    transform: rotate(0deg);
    animation: spinElectric 4s linear infinite;
}

@keyframes spinElectric {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@layer utilities {
    .text-shadow-lg {
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: rgba(37, 190, 174, 0.638);
        text-shadow:
            0 0 10px rgba(0, 255, 255, 0.8),
            0 0 20px rgba(0, 255, 255, 0.6),
            0 0 5px rgba(255, 165, 0, 0.7),
            0 0 10px rgba(255, 255, 0, 0.5);
    }

    .flicker-once {
        animation: flicker-once 3s steps(2, end) 1 forwards;
        position: relative;
    }

    .smoke-effect::after {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        width: 12px;
        height: 20px;
        background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 70%);
        border-radius: 50%;
        opacity: 0;
        transform: translateX(-50%) scale(1, 1.5);
        filter: blur(4px);
        animation: smoke-rise 3s ease-out forwards;
        pointer-events: none;
    }

}

/* EFECTO HUMO */
@keyframes smoke-rise {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(0) scale(1, 1.5);
    }

    10% {
        opacity: 0.3;
    }

    30% {
        opacity: 0.5;
        transform: translateX(-55%) translateY(-20px) scale(1.2, 1.7);
    }

    60% {
        opacity: 0.4;
        transform: translateX(-45%) translateY(-50px) scale(1.4, 2);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-80px) scale(1.6, 2.2);
    }
}


@keyframes flicker-once {
    0% {
        opacity: 1;
        text-shadow:
            0 0 15px rgba(0, 255, 255, 1),
            0 0 30px rgba(0, 255, 255, 0.8),
            0 0 10px rgba(255, 165, 0, 0.8),
            0 0 20px rgba(255, 255, 0, 0.6);
    }

    20% {
        opacity: 0;
        text-shadow: none;
    }

    30% {
        opacity: 1;
        text-shadow:
            0 0 15px rgba(0, 255, 255, 1),
            0 0 30px rgba(0, 255, 255, 0.8),
            0 0 10px rgba(255, 165, 0, 0.8),
            0 0 20px rgba(255, 255, 0, 0.6);
    }

    40% {
        opacity: 0;
        text-shadow: none;
    }

    50% {
        opacity: 1;
        text-shadow:
            0 0 12px rgba(0, 255, 255, 1),
            0 0 25px rgba(0, 255, 255, 0.7),
            0 0 8px rgba(255, 193, 79, 0.886),
            0 0 16px rgba(255, 255, 0, 0.5);
    }

    60% {
        opacity: 0;
        text-shadow: none;
    }

    70% {
        opacity: 1;
        text-shadow:
            0 0 12px rgba(0, 255, 255, 1),
            0 0 25px rgba(0, 255, 255, 0.7),
            0 0 8px rgba(255, 193, 79, 0.886),
            0 0 16px rgba(255, 255, 0, 0.5);
    }

    85% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 0.5;
        text-shadow: none;
        color: #284d53;
    }
}


@keyframes flicker-slow {
    0% {
        opacity: 1;
        text-shadow:
            0 0 15px rgba(0, 255, 255, 1),
            0 0 30px rgba(0, 255, 255, 0.8),
            0 0 10px rgba(255, 165, 0, 0.8),
            0 0 20px rgba(255, 255, 0, 0.6);
    }

    50% {
        opacity: 0.5;
        text-shadow: none;
    }

    100% {
        opacity: 1;
        text-shadow:
            0 0 15px rgba(0, 255, 255, 1),
            0 0 30px rgba(0, 255, 255, 0.8),
            0 0 10px rgba(255, 165, 0, 0.8),
            0 0 20px rgba(255, 255, 0, 0.6);
    }
}



/* SECCIÓN DE TECNOLOGÍAS */

:root {
    --main-bg-color: #1f2937;
    --accent-color: #4338ca;
    --hover-color: #6366f1;
    --card-bg-color: #ffffff;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --highlight-text-color: #4f46e5;
}

.skill-card {
    background-color: var(--card-bg-color);
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px var(--card-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px var(--card-shadow);
}

.skill-item {
    background-color: rgba(67, 56, 202, 0.1);
    color: #4338ca;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s ease;
}

.skill-item:hover {
    background-color: var(--hover-color);
    color: white;
}

.skill-item img {
    width: 1.5rem;
    height: 1.5rem;
}

@media (min-width: 640px) {
    .skill-item {
        font-size: 1rem;
    }
}

:root {
    --text-color: #f5f5f5;
    --hover-color: #39ff5a;
    --bg-color: #041d07;
    --secon-bg-color: #292e33;
    --big-font: 2.5rem;
    --normal-font: 2rem;
    --neon-box-shadow: 0 0 .5rem #47f6ff;
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(9, 238, 97, 0.425),
        0 0 20px rgba(26, 255, 18, 0.3),
        0 0 30px rgba(18, 255, 18, 0.3),
        0 0 40px rgba(38, 255, 18, 0.3),
        0 0 70px rgba(18, 255, 50, 0.3),
        0 0 80px rgba(18, 255, 30, 0.3),
        0 0 100px rgba(18, 255, 58, 0.3),
        0 0 150px rgba(18, 255, 38, 0.3);
}

::-webkit-scrollbar {
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--hover-color);
    border-radius: 5rem;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

header.sticky {
    padding: 12px 10%;
    background: #0000003b;
    box-shadow: 0 4px 30px rgba(18, 247, 255, 0.046);
}


:root {
    --hover-color: #12f7ff;
    --neon-glow: 0 0 5px #12f7ff, 0 0 10px #12f7ff, 0 0 20px #12f7ff, 0 0 40px #0ff, 0 0 80px #0ff;
}

body {
    background: #0a0a0a;
    font-family: 'Poppins', sans-serif;
}

.logo {
    margin-top: 15px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff;
    position: relative;
    right: 100px;
    display: inline-block;
}

.logo span {
    color: var(--hover-color);
    text-shadow: var(--neon-glow);
    animation: flickerr 2.5s infinite alternate;
}

.navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px 30px;
    background: transparent;
    backdrop-filter: blur(6px);
    border-radius: 50px;
}

.navlist a {
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 12px 20px;
    text-decoration: none !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    overflow: hidden;
    transition: color 0.3s ease;
}

.navlist a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(18, 247, 255, 0.4), transparent);
    transform: skewX(-20deg);
    transition: left 0.5s ease;
}

.navlist a:hover {
    color: var(--hover-color);
    text-shadow: 0 0 10px #12f7ff, 0 0 20px #12f7ff, 0 0 40px #0ff;
    transition: text-shadow 0.3s ease;
    /* suaviza la entrada del glow */
}

.navlist a:hover::before {
    left: 100%;
    transition: left 0.6s ease;
    /* hace el barrido más suave */
}

.navlist a.active {
    color: var(--hover-color);
    text-shadow: 0 0 5px #12f7ff, 0 0 15px #12f7ff, 0 0 30px #0ff;
}

@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        opacity: 1;
    }

    20%,
    22%,
    24%,
    55% {
        opacity: 0.6;
    }
}


#menu-icon {
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}

section {
    padding: 100px 10%;
}

.inicio {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4em;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: var(--big-font);
    font-weight: 700;
}

.change-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h3 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0;
}

.change-text h3 .word .letter {
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out {
    transform: rotateX(90deg);
    transition: .32s cubic-bezier(0.6, 0 0.7, 0.2);
}

.change-text h3 .word .letter.in {
    transition: .38s ease;
}

.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg);
}

.home-content p {
    color: #bdbdbd;
    line-height: 1.6;
}

.info-box {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 1rem 0 2rem;
}

.info-box h5 {
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}

.info-box span {
    font-size: .9rem;
    color: #bdbdbd;
    margin-right: 15px;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 320px;
    height: 45px;
}

.btn-box .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}

.btn:hover {
    color: var(--hover-color);
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.btn:hover::before {
    width: 100%;
}

.btn:nth-child(2) {
    background: var(--bg-color);
    color: var(--hover-color);
}

.btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn:nth-child(2)::before {
    background: var(--hover-color);
}

.social-icons {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 40px;
}

.social-icons a {
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.3rem #79ff8b;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.social-icons a i {
    font-size: 1.5rem;
}

.social-icons a:hover {
    color: var(--bg-color);
}

.social-icons a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--hover-color);
    transition: .6s;
    z-index: -1;
}

.social-icons a:hover::before {
    width: 100%;
}


#element {
    display: inline !important;
}

.stackContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -120px;
    right: 0;
}

.containerImagesStack {
    gap: 20px;
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
}

.containerImagesStack img {
    width: 40px;
    height: 40px;
}

.home-image {
    position: relative;
}

.img-box {
    text-align: center;
}

.img-box img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-bottom-left-radius: 100px;
    border-end-end-radius: 150px;
}

.liquid-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 10%;

}

.liquid-shape:nth-child(2) {
    filter: blur(50px);
}

path {

    fill: #53ff6a;
    filter: blur(10px);

}


/**/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.856)), url(../img/codeWallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about .img-about {
    text-align: center;
    position: relative;
}

.about .img-about img {
    max-width: 400px;
    height: auto;
    border-radius: 500px 10px;
}

.about-content span {
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content h2 {
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--normal-font);
}

.about-content h3 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .2rem;
}

.about-content p {
    color: #fdfdfd;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.info-about1,
.info-about2,
.info-about3 {
    background: var(--bg-color);
    font-size: .8rem;
    position: absolute;
    padding: 10px;
    width: 90px;
    height: 90px;
    border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    border: 1ox solid var(--hover-color);
    outline: 2px solid var(--bg-color);
    z-index: 100;
    animation: morph 6s linear infinite;
}

.info-about1 {
    top: 40%;
    padding: 3px;
}

.info-about2 {
    left: 80%;
    top: 30%;
}

.info-about3 {
    left: 40%;
    top: 80%;
}

.img-about span {
    color: var();
}

/* SERVICES */

.main-text {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}

.main-text h2 {
    font-weight: 700;
    font-size: var(--normal-font);
}

.main-text span {
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
}

.section-services .service-box {
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    transition: transform .4s;
    border-radius: 10px;
    position: relative;
}

.service-btn {
    width: auto;
    justify-content: center;
}

.service-box:hover {
    transform: translateY(-.7rem);
}

.service-icon {
    width: 110px;
    border: 2px solid var(--hover-color);
    padding: 2rem;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30%;
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    outline: 3px solid var(--bg-color);
}

.service-box h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.service-box p {
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
}

.professional {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}

.box .text {
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.box .text big {
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .text small {
    display: block;
    font-weight: 600;
}

.circle {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .points {
    width: 2px;
    height: 10px;
    background-color: var(--bg-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
}

.points.marked {
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}

/**/
.fillter-buttons {
    margin: 2rem;
    text-align: center;
}

.fillter-buttons .btn-ptf {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    color: var(--text-color);
}

.fillter-buttons .btn-ptf:hover {
    color: var(--hover-color);
}

/* SECCIÓN ÚLTIMOS PROYECTOS */

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2.5rem;
    padding: 2rem;
    justify-items: center;
}

.card {
    position: relative;
    width: 100%;
    max-width: 320px;
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(145deg, #1f1f1f, #292e33);
    border: 2px solid #333;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7), 0 0 40px rgba(115, 239, 198, 0.5);
    z-index: 10;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.card:hover img {
    transform: scale(1.05);
    opacity: 0.9;
}

.description {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    width: 100%;
    opacity: 0;
    transition: opacity 1.3s ease;
}

.card.z-50 .description {
    opacity: 1;
    z-index: 50;
}

.description h3 {
    font-size: 1rem;
    color: #73efc6;
}

.description p {
    font-size: 0.9rem;
    color: #ddd;
    margin-bottom: 1rem;
}

.description a {
    display: inline-flex;
    align-items: center;
    color: #73efc6;
    font-weight: bold;
    transition: color 0.3s ease;
}

.description a:hover {
    color: #38bdf8;
}

.description a i {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}


.description img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    background: rgba(255, 255, 255, 0.509);
    border-radius: 50%;
    padding: 2px;
}


/* CONTACTO (NO HABILITADO AÚN) */

.contact {
    background: var(--secon-bg-color);
    width: 100%;
}

.contact form {
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form input,
.contact form textarea {
    width: 100%;
    color: var(--text-color);
    background: var(--bg-color);
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;
}

.contact form textarea {
    resize: none;
}

.formBtn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.formBtn .btn {
    cursor: pointer;
    font-size: 1rem;
}

footer {
    width: 100%;
    padding: 2rem 10%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid rgba(18, 247, 255, 0.3);
}

footer p {
    color: var(--hover-color);
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-shadow: 0 0 5px var(--hover-color), 0 0 10px var(--hover-color);
    margin: 0;
}

footer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--hover-color);
    padding: 0.7rem;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer a:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 0 20px rgba(18, 247, 255, 0.6);
}

footer a i {
    font-size: 1.2rem;
    color: #000;
}


/**/
.scroll-scale {
    opacity: 0;
    transform: scale(.9);
    transition: all 2s;
}

.scroll-top {
    opacity: 0;
    transform: translateY(-300px);
    transition: 3s;
}

.scroll-botton {
    opacity: 0;
    transform: translateY(300px);
    transition: 3s;
}

.show-items {
    opacity: 1;
    transform: translateX(0);
}

@keyframes morph {

    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    30% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    60% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }

    80% {
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 69%;
    }
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 98%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 92%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 88%;
    }
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@keyframes bootstrap {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

@keyframes git {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes glow {
    0% {
        background: var(--bg-color);
        box-shadow: none;
    }

    100% {
        background: var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }
}

@media(max-width:991px) {

    header,
    header.sticky {
        padding: 15px 5%;
    }

    footer {
        padding: 15px 5%;
    }

    section {
        padding: 50px 5%;
    }

    .navlist a {
        padding: 8px 15px;
    }

    :root {
        --big-font: 2.2rem;
        --normal-font: 1.8rem;
        --neon-box-shadow: 0 0 .8rem #12f7ff;
        --h2-font: 3rem;
    }

    .home-content {
        margin-top: 5rem;
    }

    .social-icons {
        margin-top: 2rem;
    }
}

@media(max-width:768px) {
    #menu-icon {
        display: block;
        transition: all .4s ease;
    }

    #menu-icon.bx-x {
        transform: rotate(-180deg);
    }

    .navlist {
        display: flex;
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        padding: 0 5%;
        transition: all .45s ease;
    }

    .navlist a {
        display: block;
        padding-bottom: 1rem;
        font-size: 1rem;

    }

    .navlist.open {
        top: 100%;
    }

    .home {
        grid-template-columns: 1fr;
    }

    .home-image {
        margin-bottom: 5rem;
    }

    .liquid-shape {
        width: 80%;
        left: 10%;
        top: 13%;
    }


    .about {
        flex-direction: column-reverse;
    }

    .skill-main {
        grid-template-columns: 1fr;
    }

    .fillter-buttons {
        margin: 2.5rem 0;
    }

    footer p {
        font-size: .8rem;
    }
}

@media(max-width:420px) {
    html {
        font-size: 80%;
    }

    .stackContainer {
        display: none;
    }

    footer p {
        font-size: .6rem;
    }

    .fillter-buttons .btn {
        font-size: .8rem;
    }

    .img-about img {
        width: 300px;
    }

    .info-about1,
    .info-about2,
    .info-about3 {
        display: none;
    }

    .img-about p {
        font-size: 1rem;
    }

    .portfolio .port-box {
        width: 40vh;
    }

    .logo {
        margin-left: 120px;
    }

    .hanging-letter {
        font-size: 25px;
    }

    .perf-prof {
        display: none
    }


}